.newUser {
    color: whitesmoke;
}

.other-btn {
    display: inline-block;
  padding: 10px 20px;
  border-color: black;
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: whitesmoke;
  color: black;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
}