.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 20px;
  /* position: relative; */
  /* width: 100%; */
  background-color: #FA6318;

}

.link {
  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}




  